body,h1,h2,p,ul,li{
    margin:10;
    padding:0;
}
nav{
    text-align: right;
    background-color: #068206;
    color: white;
    padding: 10px;
}
nav ul{
    list-style-type: disc;
}
nav ul li{
    text-align: right;
    display: inline;
    color: rgb(4, 108, 11);
}
nav ul li a{
    padding: 20;
    color: rgb(11, 10, 14);
    text-decoration: dotted;
   font-size: medium;
}
h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    color: rgb(118, 15, 6);
}
h5{
    text-align: center;
}
nav ul li a:hover{
    text-align: right;
    text-decoration: underline;
}
footer{
    background-color: rgb(10, 9, 10);
    color: aliceblue;
    text-align: center;
    padding: 10px;
}

h3{
    font-family: cursive;
    font-size: 30px;
    padding-right: 30px;
    padding-left: 400px;
    color: rgb(142, 40, 9);
}

            /*hsl:hue,Saturation,lightness*/
            .container{
                margin:0 auto;
                
                box-sizing: border-box;
            }
            /*Smart Phones(potrait and landscape*/
            @media screen and (min-width:767px) {
                .container{
                    width: 100%;
                    padding: 5px 10px;
                }   
            }
             /*Tablets ,ipads(potrait and landscape*/
             @media screen and (min-width:768px) and (max-width:1024) {
                .container{
                    width: 750px;
                    padding: 5px 10px;
                }   
            }
            /*Low resolution Desktops and laptops*/
            @media screen and (min-width:1024px) {
                .container{
                    width: 980px;
                    padding: 5px 10px;
                }   
            }
             /*High resolution Desktops and laptops*/
             @media screen and (min-width:1280px) {
                .container{
                    width: 1200px;
                    padding: 5px 20px;
                }   
            }
